<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title><%=params[:meme_name] %></title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <div id="wrapper">
      <header>
        		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"></a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="../">Home</a>
					</li>
					<li  <%= params[:meme_name]=="Doge" ? "class=\"" + "active" + "\"" : ""%>><a href="../meme?meme_name=Doge">Doge</a>
					</li>
					<li  <%= params[:meme_name]=="Harambe" ? "class=\"" + "active" + "\"" : ""%>><a href="../meme?meme_name=Harambe">Harambe</a>
					</li>
					<li  <%= params[:meme_name]=="Pepe" ? "class=\"" + "active" + "\"" : ""%>><a href="../meme?meme_name=Pepe">Pepe</a>
					</li>
					<li <%= params[:meme_name]=="Spongebob" ? "class=\"" + "active" + "\"" : ""%>><a href="../meme?meme_name=Spongebob">Spongebob</a>
					</li>
					<li <%= params[:meme_name]=="Xzibit" ? "class=\"" + "active" + "\"" : ""%>><a href="../meme?meme_name=Xzibit">Xzibit</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="../user">User Portfolio</a>
					</li>
					<li><a id="login_logout" href="<%=(session[:authenticated] ? '/logout">Logout' : '/auth/twitter">Login With Twitter') %></a></li>
				</ul>
			</div>
		</nav>
	</header>
      <main>
        <div id="content">
          <h1><%=params[:meme_name] %> chart</h1>
          <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/760_RC04/embed_loader.js"></script>
          <script type="text/javascript">
            trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"<%=params[:meme_name] %>","geo":"","time":"today 3-m"}],"category":0,"property":""}, {"exploreQuery":"date=today%203-m&q=<%=params[:meme_name] %>"});
            
          </script>
        </div>
        <aside>
          <h1>Buy and sell memes</h1>
          <p>
		  <%= @meme_description%>
           </p>
		   <iframe width="100%" class = "not_big" src="<%="../meme/frame?meme_name=" + params[:meme_name]%>"></iframe>
		   <p>You own <%=@users_share%> of <%=params[:meme_name] %></p>
			<form action="meme/transaction" method="post">
				<input name="name_of_meme" type="hidden" value="<%=params[:meme_name]%>"/>
				<input name="transaction_amount" type="number" step="10" />
				<input name="make_transaction" type="submit" />
			</form>
        </aside>
      </main>
      <footer>
        Sheffield hack
      </footer>
    </div>
  </body>
</html>